{
  auto_https off
  log {
    format json
  }
  servers {
    trusted_proxies static private_ranges
  }
}

:{$PORT} {
  header {
    Access-Control-Allow-Origin *
    X-Frame-Options "ALLOWALL"
  }

  reverse_proxy {
    dynamic a {
      name outline-production-d759.up.railway.app
      port 3000
      versions ipv4 ipv6
    }
  }
}
